<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.QingjiaMapper">
    <insert id="addQingjia" parameterType="holiday" keyProperty="hid" useGeneratedKeys="true">
        insert into holiday(uid,startDate,endDate,reason)
        values(#{users.uid},#{startDate},#{endDate},#{reason})
    </insert>

    <update id="updQingjiaStatus">
        update holiday set state=1 where hid=#{arg0}
    </update>
</mapper>